@font-face{
   font-family: Yandex;
   font-weight: 300;
   src: url(../fonts/YandexSansText-Light.woff2);
}

@font-face{
   font-family: Yandex;
   font-weight: 500;
   src: url(../fonts/YandexSansText-Medium.woff2);
}

@font-face{
   font-family: Yandex;
   font-weight: 400;
   src: url(../fonts/YandexSansText-Regular.woff2);
}
